body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

.header {
    background-color: #FF69B4;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 150px;
    padding: 0 10px;
}

h1 {
   color: #222; 
}

h2 {
    color: #222; 
 }

 h3 {
    color: #222; 
 }

 p {
    color: #444; 
 }

.menu-toggle {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
}

.nav {
    display: flex;
    justify-content: flex-end;
    background-color: #FF69B4;
    flex-wrap: wrap;
}

.nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.nav a:hover {
    background-color: #FFB6C1;
    border-radius: 8px;
    transition: ease-in .2s;
}

.content {
    padding: 20px;
}

/* Slider */
.slider-container {
    position: relative;
    width: 400px;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    display: block;
}

.slider-container button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    user-select: none;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

/* End Slider */

.scroll-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #FF69B4;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

@media (max-width: 768px) {
    .nav {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #FF69B4;
        position: absolute;
        top: 60px;
        right: 0;
        z-index: 1;
    }

    .menu-toggle {
        display: block;
    }

    .nav a {
        padding: 10px;
        border-bottom: 1px solid #FFB6C1;
    }

    .header {
        flex-direction: row;
    }
}

.popup {
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
    transition: bottom 0.5s ease;
}

/* Gaya untuk memunculkan pop-up */
.popup.show {
    bottom: 20px;
}

/* Gaya untuk tombol tutup */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.caption {
    font-size: 12px;
    align-self: center;
    text-align: center;
}

.flex-container {
    width: 100%;
    display: flex;
    justify-content: center; /* Mengatur horizontal */
    align-items: center;    /* Mengatur vertikal */
    height: auto;          /* Menggunakan 100% tinggi viewport */
    background-color: #fafafa;
    margin-bottom: 2px;
}